/* common use */
.display-flex{display: flex;}

.color{
    color: rgba(58, 58, 58, 1);
}


/* nav section */
.navbar{
    justify-content: space-between;
    align-items: center;
    
}

.brand{
    font-size: 24px;
    font-weight: bold;
}

.nav-link:hover{color: rgb(163, 176, 176);}

.nav-item{list-style: none;
font-size:16px ;
font-weight: 600;}

.nav-link{text-decoration: none;
margin-right: 34px;}

/* banner section */

.banner{
     justify-content: space-between;
     margin-right: 30px;
}

.banner-content{
    font-size: 52px;
    font-weight: 800;
    margin-top: 142px;
}

.banner-description{
    font-size: 16px;
    font-weight: 600;
    margin-top: 16px;
}

.btn-primary:hover{color: rgb(110, 105, 98) }

.btn-primary{background-color: rgba(224, 44, 109, 1) ;
color: rgba(255, 255, 255, 1);
margin-top: 16px;
padding: 10px 30px 10px 24px ;
font-size: 16px;
font-weight: 700;
border-radius: 41px;
border: none;
}

.dp{
    position: relative;
    background-image: url(images/Circle\ design.svg);
      background-size: cover;
margin-top: 80px;
margin-right: 40px;

}


