*{margin: 2px;
padding: 2px;}
/* common use */
.display-flex{display: flex;}

.color{
    color: rgba(58, 58, 58, 1);
}


/* nav section */
.navbar{
    justify-content: space-between;
    align-items: center;
    
}

.brand{
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link:hover{color: rgb(163, 176, 176);}

.nav-item{list-style: none;
font-size: 1rem ;
font-weight: 600;}

.nav-link{text-decoration: none;
margin-right: 2.125rem;}

/* banner section */

.banner{
     justify-content: space-between;
     margin-right: 1.875rem;
}

.banner-content{
    font-size: 3.25rem;
    font-weight: 800;
    margin-top: 8.875rem;
}

.banner-description{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
}

.btn-primary:hover{color: rgb(110, 105, 98) }

.btn-primary{background-color: rgba(224, 44, 109, 1) ;
color: rgba(255, 255, 255, 1);
margin-top: 1rem;
padding: 10px 30px 10px 24px ;
font-size: 1rem;
font-weight: 700;
border-radius: 41px;
border: none;
}

.dp{
    position: relative;
    background-image: url(images/Circle\ design.svg);
      background-size: cover;
margin-top: 5rem;
margin-right: 2.5rem;

}

/* sponsors section */
.sponsors{margin-top: 6.25rem;
    justify-content: center;
gap: 35px;
margin-left: 8.75rem;
margin-right: 8.75rem;
box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(0, 0, 0, 0.1);
}

.logo{padding: 0.01rem;
    width: 5rem;
    
   
}

/* 1st section of main content */
.heading{text-align: center;
margin-top: 100px;
font-size: 28px;
font-weight: 600;}

.products{
    margin-top: 70px;
    gap: 70px;
    justify-content: center;
}

.products2{margin-top: 200px;
gap: 70px;
    justify-content: center}

.products3{margin-top: 200px;
gap: 70px;
    justify-content: center}

.card{width: 300px;
height: 256px;

}

.see-more{text-align: right;
margin-top: 200px;
margin-right: 110px;
}

.see-more-link{
    text-decoration: none;
    color: rgba(224, 44, 109, 1);

}

.see-more-link:hover{color: rgb(163, 176, 176);}


